.now-playing {
  &__rating {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  &__question {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__ratings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    
    .rating-option {
      border-radius: 0.2rem;
      width: calc(min(10rem, 23%));
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      overflow: visible;
      text-align: center;
      cursor: pointer;
      position: relative;

      margin: var(--spacing-m) 0;
      padding: var(--spacing-s);

      @media only screen and (min-width: 767px) {
        padding-left: var(--spacing-l);
        padding-right: var(--spacing-l);
      }

      @media only screen and (min-width: 767px) and (min-height: 676px) {
        padding-top: var(--spacing-l);
        padding-bottom: var(--spacing-l);
      }

      /* Click animation */
      &:after {
        --click-pulse-offset: -20%;
        content: "";
        background: #90EE90;
        border-radius: 0.2rem;
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: all 0.8s;
        top: var(--click-pulse-offset);
        bottom: var(--click-pulse-offset);
        left: var(--click-pulse-offset);
        right: var(--click-pulse-offset);
      }

      /* Click animation */
      &:active:after {
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        opacity: 1;
        transition: 0s
      }

      .rating-option__icon {
        user-select: none;
        color: var(--rating-color--primary);

        .material-symbols-outlined {
          background-color: var(--rating-color--dark);
        }
      }

      .rating-option__text {
        min-height: 35px;
      }

      &:hover {
        background-color: var(--rating-color--primary);
      }

      &.rating-very-dissatisfied {
        --rating-color--primary: #ee1b24;
        --rating-color--dark: #71420d;
      }

      &.rating-dissatisfied {
        --rating-color--primary: #f9931f;
        --rating-color--dark: #af630d;
      }

      &.rating-neutral {
        --rating-color--primary: #fcee21;
       --rating-color--dark: #898109;
      }
  
      &.rating-satisfied {
        --rating-color--primary: #8cc63e;
        --rating-color--dark: #3e6d00;
      }

      &.rating-very-satisfied {
        --rating-color--primary: #009443;
        --rating-color--dark: #003306;
      }
    }

    .material-symbols-outlined {
      /* Simulate a character outline */
      border-radius: 50%;
      clip-path: circle(47%);
      background-color: #000000;
      font-size: calc(max(3rem, min(5rem, 6vw)));

      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
  }
}
