/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0.25);
  }
  100% {
    opacity: 0;
    transform: scale(1.25);
  }
}

.now-playing {
  background-color: var(--colour-background-now-playing);
  background: radial-gradient(circle at bottom left, var(--colour-secondary-background-now-playing), var(--colour-background-now-playing));
  /* background: radial-gradient(circle at bottom left, rgba(255,255,255,0.8), rgba(255,255,255,0)), linear-gradient(var(--colour-background-now-playing), var(--colour-background-now-playing)); */
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: var(--spacing-l);
  width: 100%;

  &__container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__cover,
  &__details {
    padding: var(--spacing-m);
    text-align: center;
    width: 100%;
  }

  &__cover {
    display: flex;
    flex-flow: row nowrap;
    max-width: 400px;
  }

  &__details,
  &__rating {
    position: relative;
    z-index: 2;
  }

  &__pulses {
    aspect-ratio: 1 / 1;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: auto;
    --pulse-cycle-bpm-factor: 1;
    --pulse-cycle-bpm: calc(var(--song-bpm-now-playing)/var(--pulse-cycle-bpm-factor));
    --pulse-cycle-duration: calc(var(--pulse-cycle-wave-duration)*var(--pulse-cycle-wave-count));
    --pulse-cycle-wave-count: 5;
    --pulse-cycle-wave-duration: calc(60/var(--pulse-cycle-bpm)*1s);
   }

  &__pulse {
    animation: growAndFade var(--pulse-cycle-duration) infinite ease-out;
    background-color: dodgerblue;
    border-radius: 1rem;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;

    &.wave1 {
      animation-delay: calc(var(--pulse-cycle-wave-duration)*1);    
    }
    &.wave2 {
      animation-delay: calc(var(--pulse-cycle-wave-duration)*2); 
    }
    &.wave3 {
      animation-delay: calc(var(--pulse-cycle-wave-duration)*3);
    }
    &.wave4 {
      animation-delay: calc(var(--pulse-cycle-wave-duration)*4);
    }
    &.wave5 {
      animation-delay: calc(var(--pulse-cycle-wave-duration)*5);
    }
  }

  &__image {
    box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, .3);
    height: auto;
    max-width: min(60vw, 100%);
    max-height: 50vh;
    width: 100%;
    z-index: 2;
    position: relative;
  }

  &__details {
    text-align: center;
  }

  &__track {
    font-weight: var(--font-weight-heading);
  }

  &__artists {
    opacity: 0.8;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rating {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  &__question {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__ratings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    
    .rating-option {
      border-radius: 0.2rem;
      width: calc(min(10rem, 23%));
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      overflow: visible;
      text-align: center;
      cursor: pointer;
      position: relative;

      margin: var(--spacing-m) 0;
      padding: var(--spacing-s);

      @media only screen and (min-width: 767px) {
        padding-left: var(--spacing-l);
        padding-right: var(--spacing-l);
      }

      @media only screen and (min-width: 767px) and (min-height: 676px) {
        padding-top: var(--spacing-l);
        padding-bottom: var(--spacing-l);
      }
}

      /* Click animation */
      &:after {
        --click-pulse-offset: -20%;
        content: "";
        background: #90EE90;
        border-radius: 0.2rem;
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: all 0.8s;
        top: var(--click-pulse-offset);
        bottom: var(--click-pulse-offset);
        left: var(--click-pulse-offset);
        right: var(--click-pulse-offset);
      }

      /* Click animation */
      &:active:after {
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        opacity: 1;
        transition: 0s
      }

      .rating-option__icon {
        user-select: none;
        color: var(--rating-color--primary);

        .material-symbols-outlined {
          background-color: var(--rating-color--dark);
        }
      }

      .rating-option__text {
        min-height: 35px;
      }

      &:hover {
        background-color: var(--rating-color--primary);
      }

      &.rating-very-dissatisfied {
        --rating-color--primary: #ee1b24;
        --rating-color--dark: #71420d;
      }

      &.rating-dissatisfied {
        --rating-color--primary: #f9931f;
        --rating-color--dark: #af630d;
      }

      &.rating-neutral {
        --rating-color--primary: #fcee21;
       --rating-color--dark: #898109;
      }
  
      &.rating-satisfied {
        --rating-color--primary: #8cc63e;
        --rating-color--dark: #3e6d00;
      }

      &.rating-very-satisfied {
        --rating-color--primary: #009443;
        --rating-color--dark: #003306;
      }
    }

    .material-symbols-outlined {
      /* Simulate a character outline */
      border-radius: 50%;
      clip-path: circle(47%);
      background-color: #000000;
      font-size: calc(max(3rem, min(5rem, 6vw)));

      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
  }

  @media only screen and (min-width: 767px) {
    padding: 10%;

    &__container {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }

    &__cover,
    &__details {
      width: 50%;
      max-width: 495px;
    }

    &__details {
      text-align: left;
    }

    &__pulse {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
